<template>
    <div>
        <h1>Employee</h1>
        <p>
            <a class="btn btn-success" data-toggle="collapse" href="#collapseCreateEmployee" role="button" aria-expanded="false" aria-controls="collapseCreateEmployee">
                Create New Employee
            </a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSearchEmployee" aria-expanded="false" aria-controls="collapseExample">
                Search Employee
            </button>

            <button type="button" class="btn btn-info" @click.prevent="read">View All</button>
        </p>
        <div class="collapse" id="collapseSearchEmployee">
            <div class="card card-body">
                <h3>Search Employee</h3>
                <form @submit.prevent="search" method="post">
                    <div class="form-group">
                        <label for="searchInputFName">Fist Name</label>
                        <input type="text" class="form-control" id="searchInputFName" name="fname" v-model="searchItem.fname">
                    </div>
                    <div class="form-group">
                        <label for="searchInputSName">Second Name</label>
                        <input type="text" class="form-control" id="searchInputSName" name="sname" v-model="searchItem.sname">
                    </div>
                    <div class="form-group">
                        <label for="searchInputLName">Last Name</label>
                        <input type="text" class="form-control" id="searchInputLName" name="pname" v-model="searchItem.pname">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
        <div class="collapse" id="collapseCreateEmployee">
            <div class="card card-body">
                <h3>Create new</h3>
                <form @submit.prevent="create" method="post">
                    <div class="form-group">
                        <label for="exampleInputFName">Fist Name</label>
                        <input type="text" class="form-control" id="exampleInputFName" name="fname" v-model="createNewItem.fname">
                        <span class="help-block" v-if="error && errors.fname">
                     <li v-for="fnameError in errors.sname">
                    {{ fnameError }}
                     </li>
                </span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSName">Second Name</label>
                        <input type="text" class="form-control" id="exampleInputSName" name="sname" v-model="createNewItem.sname">
                        <span class="help-block" v-if="error && errors.sname">
                     <li v-for="snameError in errors.sname">
                    {{ snameError }}
                     </li>
                </span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputLName">Last Name</label>
                        <input type="text" class="form-control" id="exampleInputLName" name="pname" v-model="createNewItem.pname">
                        <span class="help-block" v-if="error && errors.pname">
                    <li v-for="pnameError in errors.pname">
                    {{ pnameError }}
                     </li>
                </span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div v-if="success && successMessage" class="alert alert-success" role="alert">
            {{successMessage}}
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>FName</th>
                <th>Sname</th>
                <th>Pname</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(employer,index) in employee" :key="employer.id">
                <td>{{employer.id}}</td>
                <td>{{employer.fname}}</td>
                <td>{{employer.sname}}</td>
                <td>{{employer.pname}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal" @click.prevent="setUpdateItem(index)">
                        Update
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Update employee</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div v-if="success && successMessage" class="alert alert-success" role="alert">
                                        {{successMessage}}
                                    </div>
                                    <form @submit.prevent="update(employer.id,index)" method="post">
                                        <div class="form-group">
                                            <label :for="'updateFName'+employer.id">Fist Name</label>
                                            <input type="text" class="form-control" :id="'updateFName'+employer.id" name="fname" v-model="updateItem.fname">
                                            <span class="help-block" v-if="error && errors.fname">
                                                 <li v-for="fnameError in errors.fname">
                                                {{ fnameError }}
                                                 </li>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label :for="'updateSName'+employer.id">Second Name</label>
                                            <input type="text" class="form-control" :id="'updateSName'+employer.id" name="sname" v-model="updateItem.sname">
                                            <span class="help-block" v-if="error && errors.sname">
                                                 <li v-for="snameError in errors.sname">
                                                {{ snameError }}
                                                 </li>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label :for="'updateLName'+employer.id">Last Name</label>
                                            <input type="text" class="form-control" :id="'updateLName'+employer.id" name="pname" v-model="updateItem.pname">
                                            <span class="help-block" v-if="error && errors.pname">
                                                <li v-for="pnameError in errors.pname">
                                                {{ pnameError }}
                                                 </li>
                                            </span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </td>
                <td><button class="btn btn-danger" @click.prevent="del(employer.id,index)">Delete</button></td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <pagination :data="laravelData" @pagination-change-page="read"></pagination>
        </nav>

    </div>
</template>

<script>
    import axios from 'axios'
    function Employee({ id, fname, sname, pname}) {
        this.id = id;
        this.fname = fname;
        this.sname = sname;
        this.pname = pname;
    }
    export default {
        data() {
            return {
                employee: [],
                error:false,
                success:false,
                successMessage:'',
                laravelData: {},
                createNewItem:{
                    fname:'',
                    sname:'',
                    pname:''
                },
                searchItem:{
                    fname:'',
                    sname:'',
                    pname:''
                },
                updateItem:{
                    fname:'',
                    sname:'',
                    pname:''
                },
                errors: {},

            }
        },
        methods: {
            setUpdateItem (index){
                this.updateItem.fname = this.employee[index].fname;
                this.updateItem.sname = this.employee[index].sname;
                this.updateItem.pname = this.employee[index].pname;
            },
            async timer() {
                setTimeout(() => {
                  this.success = false;
                  this.successMessage = '';
                },5000);

            },
            async create() {
                const data = this.createNewItem;
                axios.post('/employee', data)
                    .then((response) => {
                        this.error = false;
                        this.success = true;
                        this.successMessage = response.data.message;
                        this.timer();
                    })
                    .catch((error) => {
                       if (error.response.status == 422){
                           this.error = true;
                           this.success = false;
                        this.errors = error.response.data.errors;
                    }
                    });
            },
            async read( page = 1) {
                this.employee = [];
                axios
                    .get('/employee?page=' + page)
                    .then((response) => {
                    const data =  response.data.data;
                   data.forEach(employer => this.employee.push(new Employee(employer)));
                   this.laravelData = response.data;
                })
            },
            async del(id,index) {
                axios.delete('/employee/' + id)
                    .then((response) => {
                        this.error = false;
                        this.success = true;
                        this.successMessage = response.data.message;
                        this.employee.splice(index, 1);
                        this.timer();
                    })
                    .catch((error) => {
                        this.errors = error.response.data.errors;
                    });
            },

            async search() {
                this.employee = [];
                const data = this.searchItem;
                axios.post('/employee/search', data)
                    .then((response) => {
                        const data =  response.data.data;
                        data.forEach(employer => this.employee.push(new Employee(employer)));
                        this.laravelData = response.data;
                    })
                    .catch((error) => {
                        if (error.response.status == 422){
                            this.error = true;
                            this.success = false;
                            this.errors = error.response.data.errors;
                        }
                    });
            },
            async update(id,index) {
                const data = this.updateItem;
                axios.patch('/employee/' + id,data)
                    .then((response) => {
                        this.error = false;
                        this.success = true;
                        this.successMessage = response.data.message;
                         this.employee[index].fname = this.updateItem.fname;
                         this.employee[index].sname = this.updateItem.sname;
                         this.employee[index].pname = this.updateItem.pname;
                        this.timer();
                    })
                    .catch((error) => {
                        this.errors = error.response.errors;
                    });
            }
        },

        created() {
            this.read();
        },
    }
</script>

<style>
    .help-block{
        color: #FF6767;
    }
</style>