<template>
    <div class="container">
        <h3>Second Task</h3>
        <form @submit.prevent="search()" method="post">
            <div class="form-group">
                <label for="exampleDate">Example date in unix timestamp</label>
                <input type="number" class="form-control" id="exampleDate"  v-model="dateForParse"></input>
                <span class="help-block" v-if="error && errors.dateForParse">
                    <li v-for="dateForParse in errors.dateForParse">
                        {{ dateForParse }}
                    </li>
                </span>
            </div>
            <button type="submit" class="btn btn-primary">Check</button>
        </form>
        <div class="form-group " v-if="serverAnswer">
            <label class="alert alert-info" for="exampleDate" >{{serverAnswer}} minutes have passed since the last hour.</label>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                dateForParse:'',
                error:false,
                errors: {},
                serverAnswer:'',
            }
        },
        methods: {

            async search() {
                console.log('work');
                const data = {
                    dateForParse: this.dateForParse
                };
                axios.post('/date_parse', data)
                    .then((response) => {
                        this.error = false;
                        this.serverAnswer = response.data;
                        console.log(response)
                    })
                    .catch((error) => {
                        if (error.response.status == 422){
                            this.error = true;
                            this.success = false;
                            this.errors = error.response.data.errors;
                        }
                    });
            },
        }
    }
</script>